* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: white;
 
}
.header1{
    font-size: 14 rem;
    font-weight:normal;
  
    padding: 10px;
    text-align: center;
    background-color: #333;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* shadow added */
}

.header1 a{
    text-decoration: none;
    
    font-family: 'Times New Roman', sserif;
    text-align: center;
      color: #6ee7b7;
    padding: 14px 20px;
    display: inline-block;
}

.header1 a:hover{

     color: salmon;

}
.nam{
    
    text-align: left;
    padding: 1 rem;
    float: left;
    
    display: block;
    position: relative;
 


}
.nam h1{
    font-size: 30px;
    font-family: 'Times New Roman', sserif;
   
    color: #6ee7b7;
    padding: 14px 20px;
}



.sections{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.card{
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.heading1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #6ee7b7;
    font-family: 'Times New Roman', sserif;
}


.paragraph1{
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
    font-family: 'Times New Roman', sserif;
}

.footer{
    background-color: #5c5c5c;
    text-align: center;
    color: #6ee7b7;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4); /* shadow added */
    margin: 0;    

}

.footer p{
    font-size: 20px;
    font-family: 'Times New Roman', sserif;
    color: #6ee7b7;
    margin: 1rem;
}

.footer .social-links a{
    text-decoration: none;
    color: #6ee7b7;
    padding: 1rem;
    margin-top: 1rem;
}

i{
    padding: 1rem;
    color: #6ee7b7;
}

.marquee{
  
    color: white;
    font-size: 20px;
    padding: 1rem;
    font-family: 'Times New Roman', sserif;
    margin-top: 1rem;


    position: absolute;
    top: 3rem;  
    width: 100%;
    height: 3rem;
    overflow: hidden;
    box-sizing: border-box;
  

 

    animation: marquee 15s linear infinite;



}


